.home-container{
    background-color: white;
    /*box-shadow: 0 0 15px white;*/
}

.projects-container{
}

.intro-row{
    height: 1000px;
}

.name{
    font-size: 80px;
    color: black;
    font-family: 'Montserrat', Helvetica, serif;

    /*font-style: normal;*/
}

.about-me-desc{
    font-size: 20px;
    color: black;
    font-family: 'Montserrat', Helvetica, serif;
}

.divider{
    border: 1px solid black;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}

.icons{
    height: 20px;
    width: 20px;
}

.skill-row{
    height: 380px;
}

.skill-box{
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.skill-box-description{
    height: 60%;
    font-size: 20px;
    background-color: white;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.skill-box-title{
    height: 40%;
    font-size: 20px;
}

.school-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.school, .school-desc{
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-desc{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}

.school{
    color: white;
    font-size: 20px;
}

.school-img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.school-container:nth-of-type(1) .school{
    /*background-image: linear-gradient(270deg, #eb884b, #eb534b);*/
    /*background-image: linear-gradient(270deg, #1f1f1f, black);*/
    background-color: darkgreen;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.school-container:nth-of-type(2) .school{
    /*background-image: linear-gradient(270deg, dodgerblue, blue);*/
    background-color: darkgreen;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sk:nth-of-type(1) > .skill-box > .skill-box-title{
    color: white;
    background-image: linear-gradient(270deg, #eb884b, #eb534b);
    display: flex;
    align-items: center;
    padding-left: 10%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sk:nth-of-type(2) > .skill-box > .skill-box-title{
    color: white;
    background-image: linear-gradient(270deg, dodgerblue, blue);
    display: flex;
    align-items: center;
    padding-left: 10%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sk:nth-of-type(3) > .skill-box > .skill-box-title{
    color: white;
    background-image: linear-gradient(270deg, blueviolet, rebeccapurple);
    display: flex;
    align-items: center;
    padding-left: 10%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}





@media(max-width:1400px){

}

@media (max-width:1200px) {
    #self-image{
        /*border-radius: 50%;*/
        width: 250px;
        height: 250px;
    }

    .name{
        font-size: 60px;
    }

    .about-me{
        font-size: 45px;
    }

    .about-me-desc{
        font-size: 16px;
    }

    .description-title{
        font-size: 18px;
        font-weight: bold;
    }

    .personal-info{
        font-size: 12px;
    }

    .school-desc > span{
        font-size: 16px;
        margin-left: 10px;
    }

    .school{
        font-size: 18px;
    }
}

@media(max-width:992px){
    .skill-box{
        height: 80%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .skill-box-description{
        height: 70%;
        font-size: 20px;

    }

    .skill-box-title{
        height: 30%;
        font-size: 30px;

    }

    .skill-row{
        height: 1100px;
    }

    #grad-image{
        margin-top: 40px;
    }
}

@media(max-width:767px){
    .about-me{
        font-size: 40px;
    }

    .about-me-desc{
        font-size: 16px;
    }

    .description-title{
        font-size: 12px;
        font-weight: bold;
    }

    .personal-info{
        font-size: 10px;
    }

    .stuff{
        margin-left: 0;
    }
}