.project{
    height: 360px;
    width: 380px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.7s;
}

.project:hover{
    height: 380px;
    width: 400px;
    transition: 0.7s;
    box-shadow: 0 0 10px goldenrod;
}

@media(max-width:992px){
    .project{

    }
}