.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}

.project{
    font-size: 14px;
    height: 380px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transition: 0.7s;

}

.project:hover{
    /*height: 390px;*/
    /*width: 490px;*/
    transition: 0.7s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
