.project{
    height: 400px;
    width: 380px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: 0.7s;
}

.project:hover{
    /*height: 390px;*/
    /*width: 490px;*/
    transition: 0.7s;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

@media(max-width:992px){
    .project{
        width: 410px;
    }
}