.navbar {
    background-color: black;
}

.icon {
    display: inline-block;
    margin-right: 10px;
}

.bi-github:hover, .bi-linkedin:hover {
    fill: gray;
}

.bi-github, .bi-linkedin {
    /*fill: rgb(0, 0, 0, 0.4);*/
    fill: white;
}

.header-links, .title-name {
    font-family: 'Montserrat', Helvetica, serif;
}

.title-name {
    font-size: 1.4em;
    color: white;
}

.header-links {
    color: white;
    font-size: 1.2rem;
    margin-right: 25px;
}


.header-links:hover {
    color: gray;
}

@media (max-width: 992px) {
    .title-name {
        font-size: 30px;
    }

    .navbar-nav {
        margin: 0;
        padding: 0;
    }

    .icon-container {
        margin: 0;
        padding: 0;
    }

    .header-links {
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 0;
    }

    .navbar-toggler {
        background-color: white;
    }
}